body {
  font-family: Arial, Helvetica, sans-serif !important;
}

header {
  padding: 0 150px;
}
header nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  box-shadow: #1b2734;
}
header nav img {
  width: 250px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 300px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 0.9375rem;
  color: #ababab;
  font-weight: 500;
}
header nav ul li .active {
  color: #00b39b;
}
header nav ul li a:hover {
  color: #00b39b;
}
header nav ul .department {
  position: relative;
}
header nav ul li .dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  height: 180px;
  width: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 0;
}
header nav ul .department:hover .dropdown {
  display: flex;
}
header nav ul li .department li:hover {
  background-color: aliceblue;
}
header nav ul .dropdown li a {
  padding: 10px;
}

/*lead section*/
main {
  padding-left: 15%;
  padding-right: 15%;
}
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  /* padding: 0 400px; */
}
.lead h1 {
  margin: 1em 0;
  font-family: "Work Sans, Arial, sans-serif";
  font-weight: 100;
  letter-spacing: -0.3px;
  color: #00b39b;
  font-size: 35px;
}
#paragraph {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  width: 100%;
}
#paragraph p {
  width: 48%;
  color: #747474;
}

h1 {
  font-size: 26px !important;
}

h2 {
  font-size: 24px !important;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  /* padding: 0 380px; */
}
.card {
  /* padding: 30px; */
  width: 240px !important;
  background: #00b39b;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  font-size: 26px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card:first-child {
  background: #00b39b;
}
.card:nth-child(2) {
  background: #3d83df;
}
.card:last-child {
  background: #1b2734;
}
*/ .card p {
  color: white;
}
.card h1 {
  color: white;
}

.card-icon {
  position: absolute !important;
  bottom: 176px !important;
}

h2 {
  font-weight: lighter;
}
.card select {
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 2em 0 0;
  -webkit-appearance: none;
  outline: 0;
  text-transform: none;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.under {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}
.under h1 {
  width: 250px;
  margin: 1em 0;
  font-family: "Work Sans, Arial, sans-serif";
  font-weight: 100;
  letter-spacing: -0.3px;
  color: #00b39b;
  font-size: 35px;
}
.under :right {
  display: flex;
  flex-wrap: wrap;
  text-align: end;
}
.improve_section {
  padding: 0 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.improve_section h1 {
  width: 450px;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 36px;
  color: #00b39b;
}
.improve_section p {
  text-align: center;
  width: 480px;
  line-height: 25px;
  color: #747474;
}
.improve_section .cards {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  justify-content: space-between;
  height: 1524px;
  align-content: space-between;
}
.improve_section .cards .card {
  border: 1px solid #74747414;
  width: 312px;
  overflow: hidden;
  border-radius: 5px;
}
.improve_section .cards .card:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.improve_section .cards:last-child img {
  width: 312px;
  height: 280px;
}
.improve_section .cards .card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.improve_section .cards .card div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.improve_section .cards .card div h3 {
  text-transform: capitalize;
  color: #747474;
  font-size: 18px;
}
.improve_section .cards .card div button {
  background-color: #3d83df;
  border: none;
  padding: 10px 12px;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.improve_section .cards .card div button:hover {
  background-color: #1b5cb1;
  cursor: pointer;
}
